<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Events</title>
    <style>
        body {
            font-family: "Lato", sans-serif;
        }

        .sidenav {
            height: 100%;
            width: 200px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            padding-top: 20px;
        }

        .sidenav a {
            padding: 6px 6px 6px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
        }

        .sidenav a:hover {
            color: #f1f1f1;
        }

        .sidenav a.active {
            background-color: ghostwhite;
            color: black;
        }

        .main {
            margin-left: 200px; /* Same as the width of the sidenav */
        }

        @media screen and (max-height: 450px) {
            .sidenav {
                padding-top: 15px;
            }

            .sidenav a {
                font-size: 18px;
            }
        }
    </style>

    <script>
        function addEvent() {
            const extractval = (id) => {
                const val = document.getElementById(id).value
                document.getElementById(id).value = ""
                return val
            }

            const json = {
                'eventname': extractval('eventname'),
                'starttime': extractval('starttime'),
                'duration': extractval('duration'),
                'location': extractval('location')
            }

            const ws = new WebSocket('ws://' + location.host + "/")

            ws.onopen = () => {
                ws.send(JSON.stringify(json))
                location.reload()
            }
        }
    </script>
</head>
<body>
<div class="sidenav">
    <a class="active" href="/Events/<%= emailAdd %>">All Events</a>
    <a href="/Events/<%= emailAdd %>/TeamA">Team A</a>
    <a href="/Events/<%= emailAdd %>/TeamB">Team B</a>
    <a href="/Events/<%= emailAdd %>/TeamC">Team C</a>
</div>
<div class="main" style="padding-bottom: 93px">
    <h1 style="text-align: center">Events</h1>
    <div id="accordion">
        <div class="card">
            <div class="card-header" style="background-color: #818181">
                <a class="collapsed card-link btn-block" data-toggle="collapse" href="#collapseOne"
                   style="font-size:20px; color:black; padding-left:5px">
                    <span class="fa fa-caret-right"></span> Upcoming Events
                </a>
            </div>
            <div id="collapseOne" class="collapse in">
                <div class="card-body">
                    <% if (eventsupcoming.length == 0) { %>
                    <h2 style="text-align: center">You don't have any upcoming event!</h2>
                    <% } else { %>
                    <% eventsupcoming.forEach((event) => { %>
                    <div class="list-group-item" style="text-align: center">
                        <h2 class="list-group-item-heading"><%= event.name %></h2>
                        <h4 class="list-group-item-text"><%= event.day %> <%= event.date %></h4>
                        <h4 class="list-group-item-text"><%= event.location %></h4>
                        <h3 class="list-group-item-text"><b><%= event.status %></b></h3>
                        <a href="" class="btn btn-info">Accept</a>
                        <a href="" class="btn btn-info">Decline</a>
                        <a href="/ChangeStatus/<%= event.id %>" class="btn btn-info">View Details</a>
                    </div>
                    <% }) %>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="collapsed card-header" style="background-color: #818181">
                <a class="collapsed card-link btn-block" data-toggle="collapse" href="#collapseTwo"
                   style="font-size:20px; color:black; padding-left:5px">
                    <span class="fa fa-caret-right"></span> Previous Events
                </a>
            </div>
            <div id="collapseTwo" class="collapse">
                <div class="card-body">
                    <% if (eventsprevious.length == 0) { %>
                    <h2 style="text-align: center">You don't have any previous event!</h2>
                    <% } else { %>
                    <% eventsprevious.forEach((event) => { %>
                    <div class="list-group-item" style="text-align: center">
                        <h2 class="list-group-item-heading"><%= event.name %></h2>
                        <h4 class="list-group-item-text"><%= event.day %> <%= event.date %></h4>
                        <h4 class="list-group-item-text"><%= event.location %></h4>
                        <h3 class="list-group-item-text"><b><%= event.status %></b></h3>
                        <a href="/ChangeStatus/<%= event.id %>" class="btn btn-info">View Details</a>
                    </div>
                    <% }) %>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <a class="list-group-item">
        Event name: <input type="text" id="eventname"><br/><br/>
        Event start time: <input type="text" id="starttime"><br/><br/>
        Event duration: <input type="text" id="duration"><br/><br/>
        Event location: <input type="text" id="location"><br/><br/>
        <button type="button" onclick="addEvent()">Add event</button>
    </a>
</div>
<nav class="navbar navbar-fixed-bottom" style="background-color:grey">
    <div class="container-fluid">
        <ul class="nav nav-tabs nav-justified">
            <li><a href="/GroupChatList/<%= emailAdd %>" style="color:black"><h1>GroupChat</h1></a></li>
            <li class="active"><a href="#" style="color:black"><h1>Events</h1></a></li>
            <li><a href="/Photos/<%= emailAdd %>" style="color:black"><h1>Photos</h1></a></li>
            <li><a href="/Teams/<%= emailAdd %>" style="color:black"><h1>My Teams</h1></a></li>
            <li><a href="/Settings/<%= emailAdd %>" style="color:black"><h1>Settings</h1></a></li>
        </ul>
    </div>
</nav>
</body>
</html>
