<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Group Chat</title>
    <style>
        body {
            font-family: "Lato", sans-serif;
            height: 100vh;
        }

        .sidenav {
            height: 100%;
            width: 280px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            padding-top: 20px;
        }

        .sidenav a {
            padding: 6px 6px 6px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
            word-break: break-all;
        }

        .sidenav a:hover {
            color: #f1f1f1;
        }

        .sidenav a.active {
            background-color: ghostwhite;
            color: black;
        }

        .upnav {
            height: 100%;
        }

        .main {
            margin-left: 280px; /* Same as the width of the sidenav */
            height: 100%;
        }

        @media screen and (max-height: 450px) {
            .sidenav {
                padding-top: 15px;
            }

            .sidenav a {
                font-size: 18px;
            }
        }

        .grid-container { 
            height: 100%;
            display: grid;
            grid-template-areas:
                'chat-display'
                'chat-entry';
            grid-gap: 10px;
            grid-template-rows: 1fr auto;
            padding: 10px;
        }

        .chat-display {
            grid-area: chat-display;
            overflow-y: scroll;
            flex-direction: column-reverse;
            font-size: 20px;
        }

        .chat-entry {
            grid-area: chat-entry;
            font-size: 20px;
        }

        .chat-prefix {
            color: grey;
        }
    </style>
</head>

<body>
<div class="upnav" style="padding-bottom: 92px">
    <div class="sidenav" id="sidenav">
        <% teams.forEach((team) => { %>
        <% if (team.id == teams[0].id) { %>
        <a href="#" class="active" onclick="changeActive(<%= team.id %>)" id="<%= team.id %>"><%= team.name %></a>
        <% } else { %>
        <a href="#" onclick="changeActive(<%= team.id %>)" id="<%= team.id %>"><%= team.name %></a>
        <% } %>
        <% }) %>
    </div>

    <div class="main">
        <div class="grid-container">
            <% teams.forEach((team) => { %>
            <% if (team.id == teams[0].id) { %>
            <div class="chat-display" id="chat-display-<%= team.id %>">
            </div>
            <% } else { %>
            <div class="chat-display" id="chat-display-<%= team.id %>" hidden>
            </div>
            <% } %>
            <% }) %>

            <div class="chat-entry">
                <form action="javascript:void(0);" id="chat-entry-form">
                    <input type="text" style="width:90%" id="chat-text-entry">
                    <button type="submit" style="width:9%">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom" style="background-color:grey">
    <div class="container-fluid">
        <ul class="nav nav-tabs nav-justified">
            <li class="active"><a style="color:black"><h1>GroupChat</h1></a></li>
            <%if (update == true){%>
            <li style="position: relative"><a href="/Events/" style="color:black"><h1>Events</h1></a>
            <img src="http://opusspark.com/images/notification_icon.png" width="50px"; height="50px" style="position: absolute; top:-20px; right:-20px; z-index: 99"></li>
            <%} else {%>
            <li><a href="/Events/" style="color:black"><h1>Events</h1></a></li>
            <%}%>
            <li><a href="/Photos/" style="color:black"><h1>Photos</h1></a></li>
            <li><a href="/Teams/" style="color:black"><h1>My Teams</h1></a></li>
            <li><a href="/Settings/" style="color:black"><h1>Settings</h1></a></li>
        </ul>
    </div>
</nav>

<script>
    let activeTeam = <%= teams[0].id %>

    function changeActive(newid) {
        document.getElementById("chat-display-" + activeTeam).hidden = true
        document.getElementById("chat-display-" + newid).hidden = false

        activeTeam = newid
        let select_item_id = $("#sidenav").find(".active").attr('id')
        document.getElementById(select_item_id).className = ''
        document.getElementById(newid).className = 'active'

        const chatDisplay = document.getElementById("chat-display-" + newid)
        chatDisplay.scrollTop = chatDisplay.scrollHeight - chatDisplay.clientHeight;
    }

    const chatTextEntry = document.getElementById("chat-text-entry")

    const ws = new WebSocket("ws://" + location.host + "/")
    ws.onmessage = (ev) => {
        const messages = JSON.parse(ev.data)
        for (let i = messages["messages"].length - 1; i >= 0; i--) {
            addMessage(messages["messages"][i])
        }
    }

    var htmlEscapes = {
        '&': '&amp;',
        '<': '&lt;',
        '>': '&gt;',
        '"': '&quot;',
        "'": '&#x27;',
        '/': '&#x2F;'
    };

    var htmlEscaper = /[&<>"'\/]/g;

    htmlEscape = function(string) {
        return ('' + string).replace(htmlEscaper, function(match) {
            return htmlEscapes[match];
        });
    };

    function addMessage(msg) {
        const chatDisplay = document.getElementById("chat-display-" + msg.team_id)
        const isScrolledToBottom = chatDisplay.scrollHeight - chatDisplay.clientHeight <= chatDisplay.scrollTop + 1;

        const t = new Date(msg.timestamp)
        const wrapper = document.createElement('div')
        wrapper.innerHTML = "<span class='chat-prefix'>" + t.toLocaleString() + "</span>"
                            + "<span class='chat-message'>"
                            + " - " + msg.display_name + ": "
                            + htmlEscape(msg.message)
                            + "</span>"

        chatDisplay.appendChild(wrapper)

        if(isScrolledToBottom) {
            chatDisplay.scrollTop = chatDisplay.scrollHeight - chatDisplay.clientHeight;
        }
    }

    document.getElementById("chat-entry-form").onsubmit = () => {
        ws.send(JSON.stringify({
            "team_id": activeTeam,
            "message": chatTextEntry.value
        }))

        chatTextEntry.value = ""
    }
</script>
</body>
</html>
