<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Photos</title>
    <style>
        body {
            font-family: "Lato", sans-serif;
        }

        .sidenav {
            height: 100%;
            width: 200px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            padding-top: 20px;
            padding-bottom: 93px;
        }

        .sidenav a {
            padding: 6px 6px 6px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
            word-break: break-all;
        }

        .sidenav a:hover {
            color: #f1f1f1;
        }

        .sidenav a.active {
            background-color: ghostwhite;
            color: black;
        }

        .main {
            margin-left: 200px; /* Same as the width of the sidenav */
            padding-bottom: 93px;
        }

        @media screen and (max-height: 450px) {
            .sidenav {
                padding-top: 15px;
            }

            .sidenav a {
                font-size: 18px;
            }
        }
    </style>
</head>
<script>
    function changeActive(newid) {
        let select_item_id = $("#sidenav").find(".active").attr('id')
        document.getElementById(select_item_id).className = ''
        document.getElementById(newid).className = 'active'
    }
</script>
<body>


<div class="main">
    <h1 style="text-align: center">Photos</h1>
    <div class="container">
        <% events.forEach((event) => { %>
        <div class="container">
            <div class="jumbotron">
                <h3><%= event.name %></h3>
                <p><%= event.day %>
                    <% event.date %>
                </p>
                <p><%= event.location %></p>
                <input type="button" value="Upload" onclick="location.href = '/Upload/<%= event.id %>'">
                <input type="button" value="View All">
            </div>
        </div>
        <% }) %>
    </div>

</div>

<div class="sidenav" id="sidenav">
    <a class="active" href="/Photos" id="allteams">All Teams</a>
    <% teams.forEach((team) => { %>
    <a href="#" onclick="changeActive(<%= team.id %>)" id="<%= team.id %>"><%= team.name %></a>
    <% }) %>
</div>

<nav class="navbar navbar-fixed-bottom" style="background-color:grey">
    <div class="container-fluid">
        <ul class="nav nav-tabs nav-justified">
            <li><a href="/groupchat" style="color:black"><h1>GroupChat</h1></a></li>
            <li><a href="/Events" style="color:black"><h1>Events</h1></a></li>
            <li class="active"><a href="#" style="color:black"><h1>Photos</h1></a></li>
            <li><a href="/Teams" style="color:black"><h1>My Teams</h1></a></li>
            <li><a href="/Settings" style="color:black"><h1>Settings</h1></a></li>
        </ul>
    </div>
</nav>
</body>
</html>