<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Photos</title>
    <style>
        body {
            font-family: "Lato", sans-serif;
        }

        .sidenav {
            height: 100%;
            width: 280px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            padding-top: 20px;
        }

        .sidenav a {
            padding: 6px 6px 6px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
            word-break: break-all;
        }

        .sidenav a:hover {
            color: #f1f1f1;
        }

        .sidenav a.active {
            background-color: ghostwhite;
            color: black;
        }

        .main {
            margin-left: 280px; /* Same as the width of the sidenav */
        }

        @media screen and (max-height: 450px) {
            .sidenav {
                padding-top: 15px;
            }

            .sidenav a {
                font-size: 18px;
            }
        }
    </style>
</head>
<body>
<div class="upnav" style="padding-bottom: 100px">
    <div class="sidenav" id="sidenav">
        <% if (active_id == 0) { %>
        <a class="active" href="/Photos" id="allphotos">All Photos</a>
        <% teams.forEach((team) => { %>
        <a href="/Photos/<%= team.id %>" id="<%= team.id %>"><%= team.name %></a>
        <% }) %>
        <% } else { %>
        <a href="/Photos" id="allphotos">All Photos</a>
        <% teams.forEach((team) => { %>
        <% if (active_id == team.id) { %>
        <a class="active" href="/Photos/<%= team.id %>" id="<%= team.id %>"><%= team.name %></a>
        <% }  else { %>
        <a href="/Photos/<%= team.id %>" id="<%= team.id %>"><%= team.name %></a>
        <% } %>
        <% }) %>
        <% } %>
    </div>

    <div class="main" align="center">
        <h1 style="text-align: center">Photos</h1>
        <% if (events.length == 0) { %>
        <div style="height:700px; display: flex; align-items: center; justify-content: center">
        <p style="font-size: 200px; opacity: 0.2">No Event Yet...</p>
        </div>
        <% } else { %>
        <% let c = 0 %>
        <% events.forEach((event) => { %>
        <% let a = event.timestamp %>
        <% let s = chop_date(a) %>
        <div class="jumbotron" style="height: 270px; width: 1170px; overflow: hidden; padding-top: 10px; padding-left: 20px">
            <div style="width: 280px; height: 200px; word-break: break-all; float: left;">
                <h3 style="margin-bottom: 20px"><%= event.name %></h3>
                <p style="margin-bottom: 20px"><%= s %></p>
                <p style="margin-bottom: 20px"><%= event.location %></p><br>
                <button data-toggle="modal" data-target="#uploadModal<%= event.id %>">Upload</button>
                <% if (photos[c].length) { %>
                <input type="button" value="View All" onclick="window.location.href = '/ViewAll/<%= event.id %>'">
                <% } %>
            </div>
            <div class="modal fade" id="uploadModal<%= event.id %>" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" style="text-align: center">Upload photos</h4>
                        </div>
                        <form action="/Photos/Upload/<%= event.id %>" method="post"
                              encType="multipart/form-data">
                            <div class="modal-body" align="center">
                                <div>
                                    <input type="file" name="photo" onchange="previewFile(<%= event.id %>)"
                                           id="file<%= event.id %>"/>
                                    <img src="" height="200" id="preview<%= event.id %>">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div align="center">
                                    <input type='submit' value='Upload'/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <% if (photos[c].length == 0) { %>
            <div style="width: 700px; height: 200px; float:left; padding-top: 20px; display: flex; align-items: center; justify-content: center;"><p style="font-size: 100px; opacity: 0.2"><b>More to add...</b></p></div>
            <% } else if (photos[c].length < 3) { %>
            <% photos[c].forEach((photo) => { %>
            <img src="/Photos/view/<%= photo %>" style="width: 275px; height: 230px; float:left; padding-top: 20px;">
            <% }) %>
            <% } else { %>
            <% for (let i = 0; i < 3; i++) { %>
            <img src="/Photos/view/<%= photos[c][i] %>"
                 style="width: 275px; height: 230px; float:left; padding-top: 20px; margin-left: 10px">
            <% } %>
            <% } %>
        </div>

        <% c = c + 1 %>
        <% }) %>
        <% } %>
    </div>
</div>

<nav class="navbar navbar-fixed-bottom" style="background-color:grey">
    <div class="container-fluid">
        <ul class="nav nav-tabs nav-justified">
            <li><a href="/groupchat" style="color:black"><h1>GroupChat</h1></a></li>
            <%if (update == true){%>
            <li style="position: relative"><a href="/Events/" style="color:black"><h1>Events</h1></a>
                <img src="http://opusspark.com/images/notification_icon.png" width="50px"; height="50px" style="position: absolute; top:-20px; right:-20px; z-index: 99"></li>
            <%} else {%>
            <li><a href="/Events/" style="color:black"><h1>Events</h1></a></li>
            <%}%>
            <li class="active"><a style="color:black"><h1>Photos</h1></a></li>
            <li><a href="/Teams" style="color:black"><h1>My Teams</h1></a></li>
            <li><a href="/Settings" style="color:black"><h1>Settings</h1></a></li>
        </ul>
    </div>
</nav>

<script>
    $(".modal").on('hidden.bs.modal', function (e) {
        $(".modal-body").find('input:file').prop('value', "");
        $(".modal-body").find('img').prop('src', "");
    })

    function previewFile(id) {
        let preview = document.getElementById('preview' + id);
        let file = document.getElementById('file' + id).files[0];
        let reader = new FileReader();

        reader.addEventListener("load", function () {
            preview.src = reader.result;
        }, false);
        if (file) {
            reader.readAsDataURL(file);
        }
    }
</script>
</body>
</html>
