<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Settings</title>
    <style>
        body {
            font-family: "Lato", sans-serif;
        }
    </style>
</head>
<body>
<div class="upnav" style="padding-bottom: 100px">


    <div class="container" align='center'>
        <h1>Settings</h1>
        <a class="jumbotron btn btn-default" style="width: 1000px; text-align: center; overflow: hidden"
           data-toggle="modal"
           data-target="#details-modal">
            <% if (avatar.length) { %>
            <img src="/Avatars/view/<%= avatar %>" width="200px" height="200px" style="float: left">
            <% } else { %>
            <img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.jpg" width="200px"
                 height="200px" style="float: left">
            <% } %>
            <div>
                <h2><%= user.forename %> <%= user.surname %></h2>
                <p><b><%= user.gender %></b></p>
                <p><b><%= user.email %></b></p>
                <p><b><%= user.mobile %></b></p>
            </div>
        </a>
    </div>

    <div id="details-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Change Personal Details</h4>
                </div>
                <div class="modal-body">
                    <div>Tick the items that you want to change and type the new info in the box.</div>
                    <div>
                        <label class="control-label">
                            <input type=checkbox id='mobileBox' onclick="enableTextbox('mobileBox', 'mobileTextbox')">Mobile
                            Number
                        </label><br>
                        <input class="placeholder-no-fix" onkeyup="value=value.replace(/[^\d]/g,'')" id='mobileTextbox'
                               type="text" maxlength="16"
                               placeholder="<%= user.mobile %>" disabled='disabled'/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" onclick="updateDetails('<%= user.mobile %>')"
                                 style="float: left">Change
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" align="center">
        <button class="btn btn-info" data-toggle="modal" data-target="#uploadModal"
                style="width: 1000px; height: 200px; font-size: 100px">Upload Avatar
        </button>
    </div>

    <div class="modal fade" id="uploadModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="text-align: center">Upload avatar</h4>
                </div>
                <form action="/uploadAvatar" method="post"
                      encType="multipart/form-data">
                    <div class="modal-body" align="center">
                        <div>
                            <input type="file" name="avatar" onchange="previewFile()"
                                   id="file"/>
                            <img src="" height="200" id="preview">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div align="center">
                            <input type='submit' value='Upload'/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="container" align="center">
        <button class="btn btn-danger" data-toggle="modal" data-target="#logoutModal"
                style="width: 1000px; height: 200px; font-size: 100px">Log out
        </button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="logoutModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Log Out</h4>
                </div>
                <div class="modal-body">
                    Are you sure to log out?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" style="float:left"
                            onclick="logOut()">yes
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" style="float:right">no</button>
                </div>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-fixed-bottom" style="background-color:grey">
    <div class="container-fluid">
        <ul class="nav nav-tabs nav-justified">
            <li><a href="/groupchat" style="color:black"><h1>GroupChat</h1></a></li>
            <li><a href="/Events" style="color:black"><h1>Events</h1></a></li>
            <li><a href="/Photos" style="color:black"><h1>Photos</h1></a></li>
            <li><a href="/Teams" style="color:black"><h1>My Teams</h1></a></li>
            <li class="active"><a style="color:black"><h1>Settings</h1></a></li>
        </ul>
    </div>
</nav>

<script>
    $(".modal").on('hidden.bs.modal', function (e) {
        $("#details-modal .modal-body").find('input:radio, input:checkbox').prop('checked', false);
        $("#details-modal .modal-body").find('input:text').prop('disabled', true);
    })

    $(".modal").on('hidden.bs.modal', function (e) {
        $(".modal-body").find('input:file').prop('value', "");
        $(".modal-body").find('img').prop('src', "");
    })

    function logOut() {
        $.ajax({
            type: 'POST',
            url: '/logout',
            success: function (data) {
                if (data.redirect) {
                    window.location.href = data.redirect
                } else {
                    console.log('error')
                }
            },
        })
    }

    function enableTextbox(checkbox_id, textbox_id) {
        const checkbox = document.getElementById(checkbox_id)
        const textbox = document.getElementById(textbox_id)
        textbox.disabled = !checkbox.checked;
    }

    function updateDetails(mobile) {
        const extractval = (id) => {
            const val = document.getElementById(id).value
            document.getElementById(id).value = ""
            return val
        }
        let new_mobile
        if (document.getElementById('mobileBox').checked) {
            new_mobile = extractval('mobileTextbox')
        } else {
            new_mobile = mobile
        }
        const json = {
            'mobile': new_mobile,
        }
        if (json.mobile.length == 0) {
            alert("Mobile cannot be null.")
        } else {

            $.ajax({
                type: 'POST',
                url: '/updatePersonalDetails',
                data: json,
                success: function (data) {
                    if (data.status == 'success') {
                        alert("Update personal details successfully.")
                        window.location.reload()
                    } else {
                        console.log('Error when updating personal details.')
                    }
                },
                dataType: "json",
            })
        }
    }

    function previewFile() {
        let preview = document.getElementById('preview');
        let file = document.getElementById('file').files[0];
        let reader = new FileReader();

        reader.addEventListener("load", function () {
            preview.src = reader.result;
        }, false);
        if (file) {
            reader.readAsDataURL(file);
        }
    }
</script>

</body>
</html>