<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Team Details</title>
</head>
<body>


<div class="main">
    <h1>Team Details</h1>
    <div class="container">
        <div class="jumbotron">
            <h1><%= team.name %></h1>
            <p>Creator: <%= creator.forename %> <%= creator.surname %></p>
            <% if (access_level != 'user'){ %>
            <p>Team Code: <%= join_code_info.code %></p>
            <% if (expire_period > 0){ %>
            <p> Expires in:<%= expire_period %> days</p>
            <% } else { %>
            <p> Already expired on <%=join_code_info.expires%></p>
            <% }} %>
            <p><%= team.type %> team</p>
        </div>
    </div>
    <div class="container">
        <h3>Team Members</h3>
        <% team_members.forEach((member) => { %>
        <p> <%= member.forename %> <%= member.surname %></p>
        <% }) %>
    </div>
</div>

<div class="container">
    <a href="/Teams" class="btn btn-info" role="button">Go back</a>
</div>

</body>
</html>