<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Teams</title>
    <style>
        body {
            font-family: "Lato", sans-serif;
        }

        .topright {
            position: absolute;
            top: 18px;
            right: 16px;
            font-size: 18px;
        }

        .topleft {
            position: absolute;
            top: 18px;
            left: 16px;
            font-size: 18px;
        }

        .topright_cross {
            position: absolute;
            top: -20px;
            right: -20px;
            font-size: 18px;
        }
    </style>
</head>
<body>
<div class="topleft">
    <div class="fa fa-times-circle btn" style="font-size:24px" onclick="leaveCrossAppears()" id="leave_btn">Leave</div>
</div>

<div class="topright">
    <div class="fa fa-plus-circle btn" style="font-size:24px" data-toggle="modal" data-target="#add_modal">Add</div>
</div>

<div class="upnav" style="padding-bottom:100px">
    <h1 style="text-align: center">My Teams</h1>

    <div id="accordion">
        <% if (teamsc.length != 0) { %>
        <div class="card" style="overflow: hidden">
            <div class="card-header" style="background-color: #818181">
                <a class="collapsed card-link btn-block" data-toggle="collapse" href="#collapseOne"
                   style="font-size:20px; color:black; padding-left:5px" onclick="changeIcon('icon1')">
                    <span class="fa fa-caret-down" id="icon1"></span> Teams managed
                </a>
            </div>
            <div id="collapseOne" class="collapse in">
                <div class="card-body">
                    <% teamsc.forEach((teamc) => { %>
                    <div style="float: left; margin: 15px; position: relative">
                        <a href="/TeamDetails/<%= teamc.id %>" class="list-group-item btn"
                           style="background-color: #E6E6E6; height:350px; width:350px; ">
                            <br>
                            <br>
                            <%if (teamc.type=="Basketball"){%>
                            <h2 class="list-group-item-heading"><img src="https://s15.postimg.cc/4ib0j4od7/basketball-2-512.png" style="width:120px; height:120px"> </h2>
                            <%}%>
                            <%if (teamc.type=="Volleyball"){%>
                            <h2 class="list-group-item-heading"><img src="https://s15.postimg.cc/pmuvkh54b/volleyball-2-512.png" style="width:120px; height:120px"> </h2>
                            <%}%>
                            <%if (teamc.type=="Tennis"){%>
                            <h2 class="list-group-item-heading"><img src="https://s15.postimg.cc/xonpg4sp7/tennis-icon-18.png" style="width:120px; height:120px"> </h2>
                            <%}%>
                            <%if (teamc.type=="Football"){%>
                            <h2 class="list-group-item-heading"><img src="https://s15.postimg.cc/61b026kez/football.png" style="width:120px; height:120px"> </h2>
                            <%}%>
                            <%if (teamc.type=="Rugby"){%>
                            <h2 class="list-group-item-heading"><img src="https://s15.postimg.cc/4q38tlm7f/rugby.png" style="width:120px; height:120px"> </h2>
                            <%}%>
                            <%if (teamc.type=="Other Sport"){%>
                            <h2 class="list-group-item-heading"><img src="https://d30y9cdsu7xlg0.cloudfront.net/png/57788-200.png" style="width:120px; height:120px"> </h2>
                            <%}%>
                            <h1 style="color: #111111"><%= teamc.name %></h1>
                            <h4 style="color: #111111"><%= teamc.type %> team</h4>
                        </a>
                        <i class="fa fa-times-circle topright_cross btn"
                           style="font-size:24px; color:red; visibility: hidden" id="leave_cross<%= teamc.id %>"
                           data-toggle="modal" data-target="#leave_modal<%= teamc.id %>">
                        </i>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="leave_modal<%= teamc.id %>" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title" style="text-align: center">Leave <%= teamc.name %></h4>
                                </div>
                                <div class="modal-body">
                                    Are you sure to leave this team? <br>
                                    <% if (teamc.access_level == 'admin') { %>
                                    Notice: This team will automatically be dismissed after your leaving!
                                    <% } %>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal"
                                            style="float:left"
                                            <% if (teamc.access_level != 'admin') { %>
                                            onclick="leaveTeam(<%= teamc.id %>)"
                                            <% } else { %>
                                            onclick="dismissTeam(<%= teamc.id %>)"
                                            <% } %>
                                    >yes
                                    </button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal"
                                            style="float:right">no
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }) %>

                </div>
            </div>
        </div>
        <% } %>
        <% if (teams.length != 0) { %>
        <div class="card" style="overflow: hidden">
            <div class="collapsed card-header" style="background-color: #818181">
                <a class="collapsed card-link btn-block" data-toggle="collapse" href="#collapseTwo"
                   style="font-size:20px; color:black; padding-left:5px" onclick="changeIcon('icon2')">
                    <span class="fa fa-caret-right" id="icon2"></span> Teams joined
                </a>
            </div>
            <div id="collapseTwo" class="collapse">
                <div class="card-body">
                    <% teams.forEach((team) => { %>
                    <div style="float: left; margin: 15px; position: relative">
                        <a href="/TeamDetails/<%= team.id %>" class="list-group-item btn"
                           style="background-color: #E6E6E6; height:350px; width:350px;">
                            <br>
                            <br>
                            <%if (team.type=="Basketball"){%>
                            <h2 class="list-group-item-heading"><img src="https://s15.postimg.cc/4ib0j4od7/basketball-2-512.png" style="width:120px; height:120px"> </h2>
                            <%}%>
                            <%if (team.type=="Volleyball"){%>
                            <h2 class="list-group-item-heading"><img src="https://s15.postimg.cc/pmuvkh54b/volleyball-2-512.png" style="width:120px; height:120px"> </h2>
                            <%}%>
                            <%if (team.type=="Tennis"){%>
                            <h2 class="list-group-item-heading"><img src="https://s15.postimg.cc/xonpg4sp7/tennis-icon-18.png" style="width:120px; height:120px"> </h2>
                            <%}%>
                            <%if (team.type=="Football"){%>
                            <h2 class="list-group-item-heading"><img src="https://s15.postimg.cc/61b026kez/football.png" style="width:120px; height:120px"> </h2>
                            <%}%>
                            <%if (team.type=="Rugby"){%>
                            <h2 class="list-group-item-heading"><img src="https://s15.postimg.cc/4q38tlm7f/rugby.png" style="width:120px; height:120px"> </h2>
                            <%}%>
                            <%if (team.type=="Other Sport"){%>
                            <h2 class="list-group-item-heading"><img src="https://d30y9cdsu7xlg0.cloudfront.net/png/57788-200.png" style="width:120px; height:120px"> </h2>
                            <%}%>
                            <h1 style="color: #111111"><%= team.name %></h1>
                            <h4 style="color: #111111"><%= team.type %> team</h4>
                        </a>
                        <i class="fa fa-times-circle topright_cross btn"
                           style="font-size:24px; color:red; visibility: hidden" id="leave_cross<%= team.id %>"
                           data-toggle="modal" data-target="#leave_modal<%= team.id %>">
                        </i>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="leave_modal<%= team.id %>" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title" style="text-align: center">Leave <%= team.name %></h4>
                                </div>
                                <div class="modal-body">
                                    Are you sure to leave this team?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal"
                                            style="float:left"
                                            onclick="leaveTeam(<%= team.id %>)">yes
                                    </button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal"
                                            style="float:right">no
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                <% }) %>
            </div>
        </div>
    </div>
    <% } %>
</div>

<div class="modal fade" id="add_modal" role="dialog" style="top:300px">
    <div class="modal-dialog">
        <div>
            <a href="/CreateTeam" class="btn btn-info" style="height: 100px; font-size: 40px; width: 100%">Create a
                new team</a><br>
            <a class="btn btn-info" data-toggle="modal" data-target="#myModal"
               style="height: 100px; font-size: 40px; width: 100%">Join a team via code</a>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="text-align: center">Join a team</h4>
            </div>
            <div class="modal-body" align="center">
                <div>
                    <label class="control-label">Invitation code:</label><br>
                    <input class="placeholder-no-fix" type="text" maxlength="50" placeholder="Invitation code"
                           id="code" name="code"/>
                </div>
            </div>
            <div class="modal-footer">
                <div align="center">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="joinTeam()">Join
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom" style="background-color:grey">
    <div class="container-fluid">
        <ul class="nav nav-tabs nav-justified">
            <li><a href="/groupchat" style="color:black"><h1>GroupChat</h1></a></li>
            <li><a href="/Events" style="color:black"><h1>Events</h1></a></li>
            <li><a href="/Photos" style="color:black"><h1>Photos</h1></a></li>
            <li class="active"><a style="color:black"><h1>My Teams</h1></a></li>
            <li><a href="/Settings" style="color:black"><h1>Settings</h1></a></li>
        </ul>
    </div>
</nav>

<script>
    function joinTeam() {
        const extractval = (id) => {
            const val = document.getElementById(id).value
            document.getElementById(id).value = ""
            return val
        }

        const json = {
            'code': extractval('code'),
        }

        $.ajax({
            type: 'POST',
            url: '/joinTeam',
            data: json,
            success: function (data) {
                if (data.msg) {
                    if (data.msg == 'Success') {
                        alert('Join success!')
                        window.location.href = data.redirect
                    } else if (data.msg == 'Duplicate') {
                        alert('You\'ve already in this team!')
                    } else {
                        alert('Wrong code!Can\'t find the team!')
                    }
                } else {
                    console.log('error')
                }
            },
            dataType: "json",
        })
    }

    function changeIcon(iconid) {
        const icon = document.getElementById(iconid)
        const btn = document.getElementById('leave_btn')
        if (icon.className == 'fa fa-caret-down') {
            icon.className = 'fa fa-caret-right'
            let cross
            <% teamsc.forEach((teamc) => { %>
            cross = document.getElementById('leave_cross<%= teamc.id %>')
            if (cross.style.visibility == "visible") {
                cross.style.visibility = "hidden"
                btn.innerText = "Leave"
            }
            <% }) %>
            <% teams.forEach((team) => { %>
            cross = document.getElementById('leave_cross<%= team.id %>')
            if (cross.style.visibility == "visible") {
                cross.style.visibility = "hidden"
                btn.innerText = "Leave"
            }
            <% }) %>
        } else {
            icon.className = 'fa fa-caret-down'
        }
    }

    function leaveCrossAppears() {
        let cross
        const btn = document.getElementById('leave_btn')
        <% teamsc.forEach((teamc) => { %>
        cross = document.getElementById('leave_cross<%= teamc.id %>')
        if (cross.style.visibility == "visible") {
            cross.style.visibility = "hidden"
            btn.innerText = "Leave"
        }
        else {
            cross.style.visibility = "visible"
            btn.innerText = "Cancel"
        }
        <% }) %>
        <% teams.forEach((team) => { %>
        cross = document.getElementById('leave_cross<%= team.id %>')
        if (cross.style.visibility == "visible") {
            cross.style.visibility = "hidden"
            btn.innerText = "Leave"
        }
        else {
            cross.style.visibility = "visible"
            btn.innerText = "Cancel"
        }
        <% }) %>
    }
    
    function leaveTeam(id) {
        json = {team_id: id}

        $.ajax({
            type: 'POST',
            url: '/leaveTeam',
            data: json,
            dataType: "json",
            success: function (data) {
                if (data.status) {
                    alert('You have already left this team!')
                    window.location.reload()
                } else {
                    console.log('error')
                }
            },
        })
    }

    function dismissTeam(id) {
        json = {team_id: id}

        $.ajax({
            type: 'POST',
            url: '/dismissTeam',
            data: json,
            dataType: "json",
            success: function (data) {
                if (data.status) {
                    alert('This team has already been dismissed!')
                    window.location.reload()
                } else {
                    console.log('error')
                }
            },
        })
    }
</script>
</body>
</html>