<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Team Details</title>
</head>
<body>
<h1 style="text-align: center">Team Details</h1>

<div class="container">
    <% if (access_level != 'user') { %>
    <div class="jumbotron btn btn-default" data-toggle="modal" data-target="#details-modal" style="width: 1200px;">
        <h1><%= team.name %></h1>
        <p>Creator: <%= creator.forename %> <%= creator.surname %></p>
        <% if (expire_period != 'No code generated yet.') { %>
        <p>Team Code: <%= join_code_info.code %></p>
        <% if (expire_period > 0){ %>
        <p>Expires in: <%= expire_period %> days</p>
        <% } else { %>
        <p>Already expired on <%= join_code_info.expires %></p>
        <% }} else { %>
        <p><%= expire_period %></p>
        <% } %>
        <p><%= team.type %> team</p>
        <p>Description: <%= team.description %></p>
    </div>
    <a class="btn btn-info" data-toggle="modal" data-target="#details-modal">Change Details</a>
    <% if (team_members.length != 1) { %>
    <% } %>
    <div class="btn btn-info" data-toggle="modal" data-target="#codeGenerator">Generate code</div>
    <% } else { %>
    <div class="jumbotron" style="width: 1200px; text-align: center">
        <h1><%= team.name %></h1>
        <p>Creator: <%= creator.forename %> <%= creator.surname %></p>
        <p><%= team.type %> team</p>
        <p>Description: <%= team.description %></p>
    </div>
    <% } %>
    <h3>Team Members</h3>
    <% team_members.forEach((member) => { %>
    <div class="dropdown"
            <% if (member.access_level == 'admin'){ %>
         style="float: left; margin-right: 10px; border:5px solid gold"
            <% } else if (member.access_level == 'manager') { %>
         style="float: left; margin-right: 10px; border:5px solid silver"
            <% } else { %>
         style="float: left; margin-right: 10px;"
            <% } %>
    >
        <div class="btn btn-default dropdown-toggle list-group-item"
             data-toggle="dropdown" style="background-color: white; height:200px; width:150px;">

            <h5 class="list-group-item-heading">Place for avatar</h5>


            <h4>
                <%= member.forename %> <br><%= member.surname %></h4>
        </div>
        <% if ((!(access_level == 'manager' && member.access_level == 'manager')) && (access_level != 'user' && member.access_level != 'admin')){ %>
        <ul class="dropdown-menu">
            <% if (access_level == 'admin') { %>
            <% if (member.access_level == 'user'){ %>
            <li><a data-toggle="modal" data-target="#setManagerModal<%= member.id %>">Set as Manager</a></li>
            <% } else if (member.access_level == 'manager') { %>
            <li><a data-toggle="modal" data-target="#unsetManagerModal<%= member.id %>">Unset as Manager</a></li>
            <% } %>
            <% } %>
            <li><a data-toggle="modal" data-target="#removeModal<%= member.id %>">Remove from Team</a></li>
        </ul>
        <% } %>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="removeModal<%= member.id %>" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    Are you sure to remove <%= member.forename %> <%= member.surname %> from <%= team.name %>?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" style="float:left"
                            onclick="removeUser('<%= member.id %>', '<%= team.id %>')">yes
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" style="float:right">no</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="setManagerModal<%= member.id %>" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    Are you sure to set <%= member.forename %> <%= member.surname %> as manager in <%= team.name %>?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" style="float:left"
                            onclick="setManager('<%= member.id %>', '<%= team.id %>')">yes
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" style="float:right">no</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="unsetManagerModal<%= member.id %>" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    Are you sure to retract <%= member.forename %> <%= member.surname %>'s manager in <%= team.name %>?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" style="float:left"
                            onclick="unsetManager('<%= member.id %>', '<%= team.id %>')">yes
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" style="float:right">no</button>
                </div>
            </div>
        </div>
    </div>
    <% }) %>

</div>


<div id="details-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Change Details of <%= team.name %></h4>
            </div>
            <div class="modal-body">
                <div>Tick the items that you want to change and type the new info in the box.</div>
                <div>
                    <label class="control-label">
                        <input type=checkbox id='nameBox' onclick="enableTextbox('nameBox', 'nameTextbox')">Team
                        Name
                    </label><br>
                    <input class="placeholder-no-fix" id='nameTextbox' type="text" maxlength="100"
                           placeholder="<%= team.name %>" disabled='disabled'/>
                </div>
                <div>
                    <label class="control-label">
                        <input type=checkbox id="descriptBox" onclick="enableTextbox('descriptBox', 'descriptTextbox')">Team
                        Description
                    </label><br>
                    <input class="placeholder-no-fix" id='descriptTextbox' type="text" maxlength="100"
                           placeholder="<%= team.description %>" disabled/>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        onclick="updateDetails('<%= team.id %>', '<%= team.name %>', '<%= team.description %>')"
                        data-dismiss="modal" style="float: left">Change
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="codeGenerator" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal ">&times;
                </button>
                <h4 class="modal-title" style="text-align: center">Generate code for this team</h4>
            </div>
            <div class="modal-body" align="center">
                <div>
                    <label class="control-label">code:</label><br>
                    <input class="placeholder-no-fix" type="text" maxlength="50"
                           placeholder="Invitation Code" id="codeGen"
                           name="codeGen"/>
                </div>
            </div>
            <div class="modal-footer">
                <div align="center">
                    <button type="button" class="btn btn-default" data-dismiss="modal"
                            onclick="generateCode(<%= team.id %>)">Generate
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <br>
    <br>
    <a href="/Teams" class="btn btn-info" role="button">Go back</a>
</div>

<script>
    $(".modal").on('hidden.bs.modal', function (e) {
        $("#details-modal .modal-body").find('input:radio, input:checkbox').prop('checked', false);
        $("#details-modal .modal-body").find('input:text').prop('disabled', true);
    })

    function generateCode(teamid) {
        const extractval = (id) => {
            const val = document.getElementById(id).value
            document.getElementById(id).value = ""
            return val
        }

        const json = {
            'codeGen': extractval('codeGen'),
            'teamId': teamid,
        }

        $.ajax({
            type: 'POST',
            url: '/generateCode',
            data: json,
            success: function (data) {
                if (data.status) {
                    alert('Generate success!')
                    window.location.reload()
                } else {
                    console.log('error')
                }
            },
            dataType: "json",
        })
    }

    function enableTextbox(checkbox_id, textbox_id) {
        const checkbox = document.getElementById(checkbox_id)
        const textbox = document.getElementById(textbox_id)
        textbox.disabled = !checkbox.checked;
    }

    function restoreInput(box, textbox) {
        document.getElementById(box).checked = false
        document.getElementById(textbox).disabled = true
    }

    function updateDetails(team_id, team_name, description) {
        const extractval = (id) => {
            const val = document.getElementById(id).value
            document.getElementById(id).value = ""
            return val
        }

        let newName
        const nameBox = document.getElementById('nameBox')
        if (nameBox.checked) {
            newName = extractval('nameTextbox')
        } else {
            newName = team_name
        }

        let newDescription
        const descriptBox = document.getElementById('descriptBox')
        if (descriptBox.checked) {
            newDescription = extractval('descriptTextbox')
        } else {
            newDescription = description
        }

        restoreInput('nameBox', 'nameTextbox')
        restoreInput('descriptBox', 'descriptTextbox')

        const json = {
            'name': newName,
            'description': newDescription,
            'team_id': team_id,
        }

        $.ajax({
            type: 'POST',
            url: '/updateTeamDetails',
            data: json,
            success: function (data) {
                if (data.status == 'success') {
                    alert("Update event details successfully.")
                    window.location.reload()
                } else {
                    console.log('Error when updating event details.')
                }
            },
            dataType: "json",
        })
    }

    $(document).ready(function () {
        $('[data-toggle="popover"]').popover();
    });

    function setManager(member_id, team_id) {
        const json = {
            'member_id': member_id,
            'team_id': team_id,
        }
        $.ajax({
            type: 'POST',
            url: '/setTeamManager',
            data: json,
            success: function (data) {
                if (data.status) {
                    alert("Set manager successfully.")
                    window.location.reload()
                } else {
                    console.log('Error when set managers.')
                }
            },
            dataType: "json",
        })
    }

    function unsetManager(member_id, team_id) {
        const json = {
            'member_id': member_id,
            'team_id': team_id,
        }
        $.ajax({
            type: 'POST',
            url: '/unsetTeamManager',
            data: json,
            success: function (data) {
                if (data.status) {
                    alert("unset manager successfully.")
                    window.location.reload()
                } else {
                    console.log('Error when unset managers.')
                }
            },
            dataType: "json",
        })
    }

    function removeUser(member_id, team_id) {
        const json = {
            'member_id': member_id,
            'team_id': team_id,
        }
        $.ajax({
            type: 'POST',
            url: '/removeMember',
            data: json,
            success: function (data) {
                if (data.status) {
                    alert("Delete  successfully.")
                    window.location.reload()
                } else {
                    console.log('Error when delete members.')
                }
            },
            dataType: "json",
        })
    }

</script>
</body>
</html>