<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Teams</title>
</head>
<body>
<h1 style="text-align: center">My Teams</h1>

<div id="accordion" style="padding-bottom:100px">
    <div class="card">
        <div class="card-header" style="background-color: #818181">
            <a class="collapsed card-link btn-block" data-toggle="collapse" href="#collapseOne"
               style="font-size:20px; color:black; padding-left:5px">
                <span class="fa fa-caret-right"></span> Groups created
            </a>
        </div>
        <div id="collapseOne" class="collapse">
            <div class="card-body">
                <div class="list-group">
                    <% createGroupID.forEach((id) => { %>
                    <a class="list-group-item">
                        <h2 class="list-group-item-heading"><%= id %></h2>
                    </a>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="collapsed card-header" style="background-color: #818181">
            <a class="collapsed card-link btn-block" data-toggle="collapse" href="#collapseTwo"
               style="font-size:20px; color:black; padding-left:5px">
                <span class="fa fa-caret-right"></span> Groups joined
            </a>
        </div>
        <div id="collapseTwo" class="collapse">
            <div class="card-body">
                <div class="list-group">
                    <% joinGroupID.forEach((id) => { %>
                    <a class="list-group-item">
                        <h2 class="list-group-item-heading"><%= id %></h2>
                    </a>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <a href="/CreateTeam/<%=emailAdd %>" class="btn btn-info">Create a new team!</a>
    <a href="" class="btn btn-info" data-toggle="modal" data-target="#myModal">Join a team via code.</a>
</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="text-align: center">Join a team</h4>
            </div>
            <div class="modal-body" align="center">
                <div>
                    <label class="control-label">Invitation code:</label><br>
                    <input class="placeholder-no-fix" type="text" maxlength="12" placeholder="Invitation code" id="UserEmail" name="useremail" onkeyup="value=value.replace(/[^\w\.\/]/ig,'')" autofocus />
                </div>
            </div>
            <div class="modal-footer">
                <div align="center">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Join</button>
                </div>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom" style="background-color:grey">
    <div class="container-fluid">
        <ul class="nav nav-tabs nav-justified">
            <li><a href="/GroupChatList/<%=emailAdd%>" style="color:black"><h1>GroupChat</h1></a></li>
            <li><a href="/Events/<%=emailAdd%>" style="color:black"><h1>Events</h1></a></li>
            <li><a href="/Photos/<%=emailAdd%>" style="color:black"><h1>Photos</h1></a></li>
            <li class="active"><a href="#" style="color:black"><h1>My Teams</h1></a></li>
            <li><a href="/Settings/<%=emailAdd%>" style="color:black"><h1>Settings</h1></a></li>
        </ul>
    </div>
</nav>


</body>
</html>