<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <title>Change Status</title>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1><%= event.name %></h1>
        <p><%= event.date %></p>
        <p><%= event.location %></p>
    </div>
    <form id="reply" action="/EventsPage" style="display: inline">
        <!--Actually the action should be the Event page, but that page has some unfixed problem now,
        to make the page testable, I redirected to the groupchat page temporarily.-->
        <button onclick="confirmAccepted()">Accept</button>
        <button onclick="confirmDeclined()">Decline</button>
    </form>
    <script>
        function confirmAccepted() {
            alert("You have accepted the event!")
        }
        function confirmDeclined() {
            alert("You have declined the event!")
        }
    </script>
    <%if (access_level != 'user'){%>
    <button data-toggle="modal" data-target="#details-modal">Change details of the event.</button>
    <%}%>
    <div id="details-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Change Details of <%= event.name %></h4>
                </div>
                <div class="modal-body">
                    <div>
                        <label class="control-label">Event Name</label><br>
                        <input class="placeholder-no-fix" type="text" maxlength="100" placeholder="<%= event.name%>" />
                    </div>
                    <div>
                        <label class="control-label">Event Location</label><br>
                        <input class="placeholder-no-fix" type="text" maxlength="100" placeholder="<%= event.location %>"  />
                    </div>
                    <div>
                        <label class="control-label">Event Date</label><br>
                        <input class="placeholder-no-fix" type="text" maxlength="100" placeholder="<%= event.date %>" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" style="float: left">Change</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container text-center">
    <div class="row">
        <div class="col-sm-4">
            <div class="jumbotron">
                <h3>Accepted List</h3>
                <% acceptedList.forEach((name) =>{ %>
                <p><%= name %></p>
                <% }) %>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="jumbotron">
                <h3>Rejected List</h3>
                <% rejectList.forEach((name) =>{ %>
                <p><%= name %></p>
                <% }) %>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="jumbotron">
                <h3>Nonreply</h3>
                <% noreplyList.forEach((name) =>{ %>
                <p><%= name %></p>
                <% }) %>
            </div>
        </div>
    </div>
</div>
</body>
</html>