<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
    <title>View Event's Details</title>
    <style>
        .topleft {
            position: absolute;
            top: 25px;
            left: 18px;
            font-size: 18px;
        }
    </style>
</head>
<body>
<div class="container" style="position: relative">
    <div class="topleft">
        <a class="btn" onclick="window.location.href = '/Events'">
            <img src="https://image.flaticon.com/icons/svg/54/54517.svg" width="40px" height="40px"><p style="color: #111111">Go Back</p>
        </a>
    </div>
    <br>
    <% if (new Date() <= event.final_decision_date){ %>
    <% if (access_level != 'user') { %>
    <div class="jumbotron btn btn-default" data-toggle="modal" data-target="#details-modal" style="width: 1200px;">
        <h1><%= event.name %></h1>
        <p><%= event.timestamp %></p>
        <p>Last Date for making final decisions: <%= event.final_decision_date %></p>
        <p>
            <% if (!event.duration.hours) { %>
            <% } else if (event.duration.hours == 1) { %>
            1 hour
            <% } else { %>
            <%= event.duration.hours %> hours
            <% } %>
            <% if (!event.duration.minutes) { %>
            <% } else if (event.duration.minutes == 1) { %>
            1 minute
            <% } else { %>
            <%= event.duration.minutes %> minutes
            <% } %>
        </p>
        <p><%= event.location %></p>
        <h2>Current Status: <%= event.status %></h2>
    </div>
    <% } else { %>
    <div class="jumbotron" style="width: 1200px; text-align: center">
        <h1><%= event.name %></h1>
        <p><%= event.timestamp %></p>
        <p>Last Date for making final decisions: <%= event.final_decision_date %></p>
        <p>
            <% if (!event.duration.hours) { %>
            <% } else if (event.duration.hours == 1) { %>
            1 hour
            <% } else { %>
            <%= event.duration.hours %> hours
            <% } %>

            <% if (!event.duration.minutes) { %>
            <% } else if (event.duration.minutes == 1) { %>
            1 minute
            <% } else { %>
            <%= event.duration.minutes %> minutes
            <% } %>
        </p>
        <p><%= event.location %></p>
        <h2>Current Status: <%= event.status %></h2>
    </div>
    <% }} else { %>
    <div class="jumbotron" style="width: 1200px; text-align: center">
        <h1><%= event.name %></h1>
        <p><%= event.timestamp %></p>
        <p>Last Date for making final decisions: <%= event.final_decision_date %></p>
        <p>
            <% if (!event.duration.hours) { %>
            <% } else if (event.duration.hours == 1) { %>
            1 hour
            <% } else { %>
            <%= event.duration.hours %> hours
            <% } %>

            <% if (!event.duration.minutes) { %>
            <% } else if (event.duration.minutes == 1) { %>
            1 minute
            <% } else { %>
            <%= event.duration.minutes %> minutes
            <% } %>
        </p>
        <p><%= event.location %></p>
        <h2>Current Status: <%= event.status %></h2>
    </div>
    <% } %>
    <form id="reply" action="/EventsPage" style="display: inline">
        <!--Actually the action should be the Event page, but that page has some unfixed problem now,
        to make the page testable, I redirected to the groupchat page temporarily.-->
        <% if (new Date() <= event.final_decision_date){ %>
        <% if (event.status == 'noreply'){ %>
        <a href="" class="btn btn-info" onclick="changeStatus('confirmed', <%= event.id %>)">Accept</a>
        <a href="" class="btn btn-info" onclick="changeStatus('rejected', <%= event.id %>)">Decline</a>
        <% } %>
        <% if (event.status == 'confirmed'){ %>
        <a class="btn btn-info disabled">Accept</a>
        <a class="btn btn-info" onclick="changeStatus('rejected', <%= event.id %>)">Decline</a>
        <% } %>
        <% if (event.status == 'rejected'){ %>
        <a class="btn btn-info" onclick="changeStatus('confirmed', <%= event.id %>)">Accept</a>
        <a class="btn btn-info disabled">Decline</a>
        <% } } %>

    </form>
    <% if ((access_level != 'user') && (new Date() <= event.final_decision_date)){ %>
    <button class="btn btn-info" data-toggle="modal" data-target="#details-modal">Change Event Details</button>
    <br>
    <br>
    <% } %>
    <div id="details-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Change Details of <%= event.name %></h4>
                </div>
                <div class="modal-body">
                    <div>Tick the items that you want to change and type the new info in the box.</div>
                    <div>
                        <label class="control-label">
                            <input type=checkbox id="nameBox" onclick="enableTextbox('nameBox', 'nameTextbox')">Event
                            Name
                        </label><br>
                        <input class="placeholder-no-fix" id='nameTextbox' type="text" maxlength="100"
                               placeholder="<%= event.name %>" disabled='disabled'/>
                    </div>
                    <br>
                    <div>
                        <label class="control-label">
                            <input type=checkbox id="locationBox"
                                   onclick="enableTextbox('locationBox', 'locationTextbox')">Event Location
                        </label><br>
                        <input class="placeholder-no-fix" id='locationTextbox' type="text" maxlength="100"
                               placeholder="<%= event.location %>" disabled/>
                    </div>
                    <br>
                    <div>
                        <label class="control-label">
                            <input type=checkbox id="dateBox" onclick="enableTextbox('dateBox', 'dateTextbox')">Event
                            Date
                        </label><br>


                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker'>
                                <input id="dateTextbox" type='text' class="form-control" placeholder="<%=event.timestamp%>" disabled/>
                                <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                            </div>
                        </div>

                        <script type="text/javascript">
                            $(function () {
                                let date = new Date(new Date().getTime())
                                date.setDate(date.getDate())
                                $('#datetimepicker').datetimepicker({
                                    format: 'YYYY-MM-DD HH:mm:ss',
                                    minDate: date,
                                })
                                document.getElementById('dateTextbox').placeholder = '<%= event.timestamp%>'
                            });
                        </script>
                    </div>

                    <div>
                        <label class="control-label">
                            <input type=checkbox id="finalBox"
                                   onclick="enableTextbox('finalBox', 'finalTextbox')">Last date for making final
                            decisions:
                        </label><br>

                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker3'>
                                <input id="finalTextbox" type='text' class="form-control" disabled
                                />
                                <span class="input-group-addon">
                        <span class="glyphicon glyphicon-time"></span>
                    </span>
                            </div>
                        </div>

                        <script type="text/javascript">
                            $(function () {
                                let date = new Date(new Date().getTime())
                                date.setDate(date.getDate())
                                $('#datetimepicker3').datetimepicker({
                                    format: 'YYYY-MM-DD HH:mm:ss',
                                    minDate: date,
                                });
                            });
                        </script>
                    </div>

                    <div>
                        <label class="control-label">
                            <input type=checkbox id="durationBox"
                                   onclick="enableTextbox('durationBox', 'durationTextbox')">Event
                            Duration
                        </label><br>

                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker2'>
                                <input id="durationTextbox" type='text' class="form-control" disabled
                                       data-toggle="tooltip" title="Hours:Minutes:Seconds"/>
                                <span class="input-group-addon">
                        <span class="glyphicon glyphicon-time"></span>
                    </span>
                            </div>
                        </div>

                        <script type="text/javascript">
                            let date = new Date(new Date().getTime())
                            date.setDate(date.getDate())
                            $(function () {
                                $('#datetimepicker2').datetimepicker({
                                    format: 'HH:mm:ss'
                                });
                            });
                        </script>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            onclick="updateDetails('<%= event.id %>', '<%= event.name %>', '<%= event.location %>','<%= event.timestamp %>', '<%= event.duration.hours %>', '<%= event.duration.minutes %>', '<%= event.final_decision_date %>')"
                             style="float: left">Change
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container text-center">
    <div class="row">
        <div class="col-sm-4">
            <div class="jumbotron">
                <h3>Accepted List</h3>
                <% let c = 0 %>
                <% acceptedList.forEach((person) =>{ %>
                <% if (accepted_list_avatars[c].length) { %>
                <img src="/Avatars/view/<%= accepted_list_avatars[c] %>" style="width: 80px; height: 100px">
                <% } else { %>
                <img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.jpg"
                     style="width: 80px; height: 100px">
                <% } %>
                <p><%= person.forename %> <%= person.surname %></p>
                <% c = c + 1 %>
                <% }) %>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="jumbotron">
                <h3>Rejected List</h3>
                <% c = 0 %>
                <% rejectList.forEach((person) =>{ %>
                <% if (declined_list_avatars[c].length) { %>
                <img src="/Avatars/view/<%= declined_list_avatars[c] %>" style="width: 80px; height: 100px">
                <% } else { %>
                <img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.jpg"
                     style="width: 80px; height: 100px">
                <% } %>
                <p><%= person.forename %> <%= person.surname %></p>
                <% c = c + 1 %>
                <% }) %>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="jumbotron">
                <h3>Nonreply</h3>
                <% c = 0 %>
                <% noreplyList.forEach((person) =>{ %>
                <% if (noreply_list_avatars[c].length) { %>
                <img src="/Avatars/view/<%= noreply_list_avatars[c] %>" style="width: 80px; height: 100px">
                <% } else { %>
                <img src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.jpg"
                     style="width: 80px; height: 100px">
                <% } %>
                <p><%= person.forename %> <%= person.surname %></p>
                <% c = c + 1 %>
                <% }) %>
            </div>
        </div>
    </div>
</div>

<script>
    $(".modal").on('hidden.bs.modal', function (e) {
        $("#details-modal .modal-body").find('input:radio, input:checkbox').prop('checked', false);
        $("#details-modal .modal-body").find('input:text').prop('disabled', true);
    })

    function changeStatus(new_status, event_id) {
        const json = {
            'event_id': event_id,
            'status': new_status,
        }

        $.ajax({
            type: 'POST',
            url: '/changeStatus',
            data: json,
            success: function (data) {
                if (data) {
                    window.location.reload()
                } else {
                    console.log("error")
                }
            },
            dataType: "json",
        })
    }

    function enableTextbox(checkbox_id, textbox_id) {
        const checkbox = document.getElementById(checkbox_id)
        const textbox = document.getElementById(textbox_id)
        textbox.disabled = !checkbox.checked;
    }

    function updateDetails(event_id, event_name, event_location, event_date, event_duration_hours, event_duration_minutes, final_decision_date) {
        const extractval = (id) => {
            const val = document.getElementById(id).value
            document.getElementById(id).value = ""
            return val
        }

        let newName
        const nameBox = document.getElementById('nameBox')
        if (nameBox.checked) {
            newName = extractval('nameTextbox')
        } else {
            newName = event_name
        }

        let newLocation
        const locationBox = document.getElementById('locationBox')
        if (locationBox.checked) {
            newLocation = extractval('locationTextbox')
        } else {
            newLocation = event_location
        }

        let newDate
        const dateBox = document.getElementById('dateBox')
        if (dateBox.checked) {
            newDate = extractval('dateTextbox')
        } else {
            newDate = parseDate(new Date(event_date))
        }


        let newDuration
        const durationBox = document.getElementById('durationBox')
        if (durationBox.checked) {
            newDuration = extractval('durationTextbox')
        } else {
            newDuration = parseDuration(event_duration_hours, event_duration_minutes)
        }

        let new_final_date
        const finalBox = document.getElementById('finalBox')
        if (finalBox.checked) {
            new_final_date = extractval('finalTextbox')
        } else {
            new_final_date = parseDate(new Date(final_decision_date))
        }

        const json = {
            'name': newName,
            'location': newLocation,
            'date': newDate,
            'duration': newDuration,
            'event_id': event_id,
            'finalDecisionDate': new_final_date,
        }
        if (json.finalDecisionDate > json.date) {
            alert("The last date of makeing final decisions cannot be later than start time.")
        } else if (json.date.length ==0 ){
            alert("Event date cannot be null.")
        } else if (json.name.length == 0) {
            alert("Event name cannot be null.")
        } else if (json.location.length == 0) {
            alert("Event location cannot be null.")
        } else if (json.finalDecisionDate.length == 0) {
            alert("The last date of makeing final decisions cannot be null.")
        } else if (json.duration.length == 0 || json.duration == '00:00:00') {
            alert("Event duration cannot be null or zero.")
        } else {
            $.ajax({
                type: 'POST',
                url: '/updateDetails',
                data: json,
                success: function (data) {
                    if (data.status) {
                        alert("Update event details successfully.")
                        window.location.reload()
                    }
                    else
                        console.log('Error')

                },
                dataType: "json",
            })
        }
    }

    function parseDate(date) {
        let year = date.getFullYear()
        let month = date.getMonth() + 1
        if(month<10){
            month='0'+month
        }
        let days = date.getDate()
        if(days<10){
            days='0'+days
        }
        let hours = date.getHours()
        if(hours<10){
            hours='0'+hours
        }
        let minutes = date.getMinutes()
        if(minutes<10){
            minutes='0'+minutes
        }
        let seconds = date.getSeconds()
        if(seconds<10){
            seconds='0'+seconds
        }
        return year + '-' + month + '-' + days + ' ' + hours + ':' + minutes + ':' + seconds
    }

    function parseDuration(duration_hours, duration_minutes) {
        formatted_duration = ''
        if (!duration_hours) {
        } else if (duration_hours == 1) {
            formatted_duration = formatted_duration + ' 1 hour'
        } else {
            formatted_duration = formatted_duration + ' ' +duration_hours + ' hours'
        }

        if (!duration_minutes) {
        } else if (duration_minutes == 1) {
            formatted_duration = formatted_duration + ' 1 minute'
        } else {
            formatted_duration = formatted_duration + ' ' + duration_minutes + ' minutes'
        }
        return formatted_duration;
    }
</script>
</body>
</html>