<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>View Event's Details</title>
</head>
<body>
<div class="container">
    <br>
    <% if (access_level != 'user') { %>
    <div class="jumbotron btn btn-default" data-toggle="modal" data-target="#details-modal" style="width: 1200px;">
        <h1><%= event.name %></h1>
        <p><%= event.timestamp %></p>
        <p><% if (!event.duration.hours) { %>
            <% } else if (event.duration.hours == 1) { %>
            1 hour
            <% } else { %>
            <%= event.duration.hours %> hours
            <% } %>

            <% if (!event.duration.minutes) { %>
            <% } else if (event.duration.minutes == 1) { %>
            1 minute
            <% } else { %>
            <%= event.duration.minutes %> minutes
            <% } %></p>
        <p><%= event.location %></p>
        <h2>Current Status: <%= event.status %></h2>
    </div>
    <% } else { %>
    <div class="jumbotron" style="width: 1200px; text-align: center">
        <h1><%= event.name %></h1>
        <p><%= event.timestamp %></p>
        <p><% if (!event.duration.hours) { %>
            <% } else if (event.duration.hours == 1) { %>
            1 hour
            <% } else { %>
            <%= event.duration.hours %> hours
            <% } %>

            <% if (!event.duration.minutes) { %>
            <% } else if (event.duration.minutes == 1) { %>
            1 minute
            <% } else { %>
            <%= event.duration.minutes %> minutes
            <% } %></p>
        <p><%= event.location %></p>
        <h2>Current Status: <%= event.status %></h2>
    </div>
    <% } %>
    <form id="reply" action="/EventsPage" style="display: inline">
        <!--Actually the action should be the Event page, but that page has some unfixed problem now,
        to make the page testable, I redirected to the groupchat page temporarily.-->
        <% if (event.timestamp >= new Date()){ %>
        <% if (event.status == 'noreply'){ %>
        <a href="" class="btn btn-info" onclick="changeStatus('confirmed', <%= event.id %>)">Accept</a>
        <a href="" class="btn btn-info" onclick="changeStatus('rejected', <%= event.id %>)">Decline</a>
        <% } %>
        <% if (event.status == 'confirmed'){ %>
        <a class="btn btn-info disabled">Accept</a>
        <a class="btn btn-info" onclick="changeStatus('rejected', <%= event.id %>)">Decline</a>
        <% } %>
        <% if (event.status == 'rejected'){ %>
        <a class="btn btn-info" onclick="changeStatus('confirmed', <%= event.id %>)">Accept</a>
        <a class="btn btn-info disabled">Decline</a>
        <% } } %>

    </form>
    <% if ((access_level != 'user') && (event.timestamp >= new Date())) { %>
    <button class="btn btn-info" data-toggle="modal" data-target="#details-modal">Change Event Details</button>
    <br>
    <br>
    <% } %>
    <div id="details-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Change Details of <%= event.name %></h4>
                </div>
                <div class="modal-body">
                    <div>Tick the items that you want to change and type the new info in the box.</div>
                    <div>
                        <label class="control-label">
                            <input type=checkbox id='nameBox' onclick="enableTextbox('nameBox', 'nameTextbox')" checked="false">Event
                            Name
                        </label><br>
                        <input class="placeholder-no-fix" id='nameTextbox' type="text" maxlength="100"
                               placeholder="<%= event.name %>" disabled='disabled'/>
                    </div>
                    <div>
                        <label class="control-label">
                            <input type=checkbox id="locationBox"
                                   onclick="enableTextbox('locationBox', 'locationTextbox')">Event Location
                        </label><br>
                        <input class="placeholder-no-fix" id='locationTextbox' type="text" maxlength="100"
                               placeholder="<%= event.location %>" disabled/>
                    </div>
                    <div>
                        <label class="control-label">
                            <input type=checkbox id="dateBox" onclick="enableTextbox('dateBox', 'dateTextbox')">Event
                            Date
                        </label><br>
                        <input class="placeholder-no-fix" id='dateTextbox' type="text" maxlength="100"
                               placeholder="<%= event.timestamp %>" disabled/>
                    </div>
                    <div>
                        <label class="control-label">
                            <input type=checkbox id="durationBox"
                                   onclick="enableTextbox('durationBox', 'durationTextbox')">Event
                            Duration
                        </label><br>
                        <input class="placeholder-no-fix" id='durationTextbox' type="text" maxlength="100"
                               disabled/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            onclick="updateDetails('<%= event.id %>', '<%= event.name %>', '<%= event.location %>','<%= event.timestamp %>', '<%= event.duration.hours %>', '<%= event.duration.minutes %>')"
                            data-dismiss="modal" style="float: left">Change
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container text-center">
    <div class="row">
        <div class="col-sm-4">
            <div class="jumbotron">
                <h3>Accepted List</h3>
                <% acceptedList.forEach((person) =>{ %>
                <p><%= person.forename %> <%= person.surname %></p>
                <% }) %>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="jumbotron">
                <h3>Rejected List</h3>
                <% rejectList.forEach((person) =>{ %>
                <p><%= person.forename %> <%= person.surname %></p>
                <% }) %>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="jumbotron">
                <h3>Nonreply</h3>
                <% noreplyList.forEach((person) =>{ %>
                <p><%= person.forename %> <%= person.surname %></p>
                <% }) %>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <a href="/Events" class="btn btn-info" role="button">Go back</a>
</div>

<script>
    function changeStatus(new_status, event_id) {
        const json = {
            'event_id': event_id,
            'status': new_status,
        }

        $.ajax({
            type: 'POST',
            url: '/changeStatus',
            data: json,
            success: function (data) {
                if (data) {
                    window.location.reload()
                } else {
                    console.log("error")
                }
            },
            dataType: "json",
        })
    }

    function enableTextbox(checkbox_id, textbox_id) {
        const checkbox = document.getElementById(checkbox_id)
        const textbox = document.getElementById(textbox_id)
        textbox.disabled = !checkbox.checked;
    }

    function updateDetails(event_id, event_name, event_location, event_date, event_duration_hours, event_duration_minutes) {
        const extractval = (id) => {
            const val = document.getElementById(id).value
            document.getElementById(id).value = ""
            return val
        }

        let newName
        const nameBox = document.getElementById('nameBox')
        if (nameBox.checked) {
            newName = extractval('nameTextbox')
        } else {
            newName = event_name
        }

        let newLocation
        const locationBox = document.getElementById('locationBox')
        if (locationBox.checked) {
            newLocation = extractval('locationTextbox')
        } else {
            newLocation = event_location
        }

        let newDate
        const dateBox = document.getElementById('dateBox')
        if (dateBox.checked) {
            newDate = extractval('dateTextbox')
        } else {
            newDate = parseDate(new Date(event_date))
        }

        let newDuration
        const durationBox = document.getElementById('durationBox')
        if (durationBox.checked) {
            newDuration = extractval('durationTextbox')
        } else {
            newDuration = parseDuration(event_duration_hours, event_duration_minutes)
        }

        const json = {
            'name': newName,
            'location': newLocation,
            'date': newDate,
            'duration': newDuration,
            'event_id': event_id,
        }

        $.ajax({
            type: 'POST',
            url: '/updateDetails',
            data: json,
            success: function (data) {
                if (data.status) {
                    alert("Update event details successfully.")
                    window.location.reload()
                }
                else
                    console.log('Error')

            },
            dataType: "json",
        })
    }

    function parseDate(date) {
        let year = date.getFullYear()
        let month = date.getMonth() + 1
        let days = date.getDate()
        let hours = date.getHours()
        let minutes = date.getMinutes()
        let seconds = date.getSeconds()
        return year + '-' + month + '-' + days + ' ' + hours + ':' + minutes + ':' + seconds
    }

    function parseDuration(duration_hours, duration_minutes) {
        formatted_duration = ''
        if (!duration_hours) {
        } else if (duration_hours == 1) {
            formatted_duration = formatted_duration + '1 hour'
        } else {
            formatted_duration = formatted_duration + duration_hours + ' hours'
        }

        if (!duration_minutes) {
        } else if (duration_minutes == 1) {
            formatted_duration = formatted_duration + '1 minute'
        } else {
            formatted_duration = formatted_duration + duration_minutes + ' minutes'
        }
        return formatted_duration;
    }
</script>
</body>
</html>